@model List<u21437221_HW03.Models.PictureModel> 

@{
    ViewBag.Title = "About";
}
<h2>About Myself, Thashen.</h2>
<h3>Here is some info about myself:</h3>

<div class="container">
    <div class="row">
        <div class="col-6 col-sm-4" id="biography">
            <h3>Bio</h3>
            <p>My name is Thashen Munian, born on the 29th of December 2002, a second year Information Science 
               student. My favourite things to do is to play videogames when I have time to do so with some
               of my favourite games being, Final Fantasy 7 Remake, Bloodborne and The Legend of Zelda Breath
               of the Wild. I also love to listen to music throughout the day and some of my favourite songs include
               Imperfections by Pop Smoke, True Colors by the Weeknd and Father Strech my hands Pt.1 by 
               Kanye West. There are other things I could say but this would end up being multiple pages long,
               so I will leave this here for now.
            </p>
        </div>
        <div class="col-6 col-sm-4" id="photo">
            @foreach(var item in Model)
            {
            <img src="@item.Picture" class="img-fluid" alt="...">
            }
        </div>
    </div>
</div>
