@model IEnumerable<u21437221_HW03.Models.FileModel>

@{
    ViewBag.Title = "FileIndex";
}

<h2>FileIndex</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.ActionLink("Download", "DownloadFile", new { Name = item.FileName }, new {@class = "btn btn-success" }) |
            @Html.ActionLink("Delete", "DeleteFile", new { Name = item.FileName }, new {@class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
