@model IEnumerable<u21437221_HW03.Models.FileModel>

@{
    ViewBag.Title = "FileIndex";
}

<h2>Document Files</h2>
<h3>..."Media/Documents/" folder</h3>

<table class="table">
    <tr> @*table headers*@
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            Download Option
        </th>
        <th>
            Delete Option
        </th>
    </tr>

@foreach (var item in Model) {
    <tr> @*Displays the documents and download and delete buttons*@
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.ActionLink("Download", "DownloadFile", new { Name = item.FileName }, new {@class = "btn btn-success" }) 
            
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteFile", new { Name = item.FileName }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
